body, html {
	font-family: 'Open Sans', sans-serif;
	margin: 0 ;
	padding: 0;
}


.hero-banner {
	background-color: #007FFF;
	height: 100vh;
	padding: 50px 20px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
}

h4 {
	font-size: 18px;
	font-weight: bold;
}

.hero-banner h4 {
	color: white;
	margin: 0;
}

h3 {
	font-size: 30px;
	font-weight: bold;
}

.hero-banner h3 {
	color: white;
	margin: 0 0 35px 0;
}

p {
	font-weight: bold;
	font-size: 30px;
}

h2 {
	font-weight: 800;
	font-size: 50px;
}


h1 {
	font-weight: 800;
	font-size: 45px;
}

.hero-banner h1 {
	color: white;
	margin: 14px 0 20px 0;
}

a.cta,
button.cta {
	font-size: 30px;
	font-weight: bold; 
	color: white;
	display: inline-block;
	padding: 20px 30px;
	text-decoration: none; 
	background-color: #007FFF;
	box-shadow: 0 0 0 10px rgba(0,127,255,0.100);
	border-radius: 10px;
}

a.cta.alt {
	background-color: #FFD400;
	box-shadow: 0 0 0 10px rgba(0,0,0,0.15);
	color: black;
}

.character1 {
	background: url(img/character1.png) no-repeat 0 0;
	background-size: 100%;
	position: absolute;
	top: 117px; 
	right: 89px;
	width: 363px;
	height: 344px;
	position: absolute;
	transform: rotate(15deg);
}

.character2 {
	background: url(img/character2.png) no-repeat 0 0;
	background-size: 100%;;
	width: 309px;
	height: 371px;
	position: absolute;
	right: 277px;
	top: 213px;
}

.character3 {
	background: url(img/character3.png) no-repeat 0 0;
	background-size: 100%;
	width: 297px;
	height: 286px;
	right: 109px;
	position: absolute;
	bottom: 74px;
}


nav {
	height: 100px;
	background-color: white;
	box-shadow: 0 5px 8px rgba(0,0,0,0.2);
	position: relative;
	position: sticky;
	top: 0;
}

nav .logo {
	 display: block;
	 width: 300px;
	 height: 40px; 
	 position: absolute;
	 top: 50%; left: 0;
	 margin-top: -20px;
	 margin-left: 30px;
	 background: url(img/logo.png) no-repeat 0 0;
	 background-size: 100%;
}

ul {
	padding: 0;
	margin: 0;
}

nav ul li {
	margin: 30px 10px;
	padding: 0;
	float: right;
	list-style-type: none;

}

nav ul li a {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: #111; 
}

.more-info {
	text-align: center;
}

.highlight {
	background-color: #FFADF9;
	color: #FF3000;
	padding: 5px 10px;
	font-weight: 800;
}

.more-info p {
	margin: 18px 0 35px;
}

.more-info h2 {
	margin: 50px 0 0;
}


/*<div class="more-info" id="read-more">
	<h2>Join Our Fan Club</h2>
	<p>Every Week we have <span class="highlight">a party.</span> If you want to join us, then join our fan club.
	Members will also receive pictures of us in all kinds of shapes and sizes. Sounds cool?
	</p>
	<button class="cta">Sign Me Up!</button>
</div>*/



